*~
elpa*
/.emacs.desktop
/.emacs.desktop.lock
/TAGS
/projectile-bookmarks.eld
/recentf
*.elc
*.el#
anaconda-mode/
/tramp
/amx-items
/eshell/history
/url/
/company-statistics-cache.el
/pyim/*
/projectile.cache
/autosaves/*
/eshell/*
/bookmarks
/layouts
/persp-confs
/var
/.python-environments
/dict