/.emacs.desktop
/.emacs.desktop.lock
/auto-save-list/*
/autosaves/*
/backups/*
*.elc
/history
/init.el
/init.org~
/projectile-bookmarks.eld
/recentf
/undo/*
/transient/*
/custom.el
/.lsp-session-v1
/company-statistics-cache.el
/eshell/history
/inferior-Python-history
/pyim/*
/url/*
/bookmarks
/dict/english-words.txt
/projectile.cache
inferior-Python*-history
/eshell/*
/anaconda-mode/*
/layouts/*
/amx-items
/elpa*/*
/places
/quelpa/*
/rime/*
/.dap-breakpoints
*.pyi
